.timer {
  display: flex;
  align-items: center;

  & p {
    width: 150px;
    & span {
      color: red;
    }
  }

  & button {
    padding: 3px 6px;
    font-size: 13px;
    border-radius: 4px;
  }
}
