.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px rgb(229, 229, 229) solid;
  box-shadow: rgba(223, 223, 223, 0.3);

  & div {
    & img {
      max-width: 120px;
    }
    & h1 {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      color: #c34e4e;
      & span {
        color: #5fc6e8;
      }
    }

    & .editBtn {
      color: black;
      position: absolute;
      top: 9%;
      right: 9%;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 0;
      background-color: transparent;
      outline: none;
      border: none;
      &:hover {
        text-decoration: underline;
        color: #2d80c4;
      }
    }
  }
  & ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    & li {
      border: #5fc6e8 1px solid;
      background-color: #c34e4e;
      color: white;
      border-radius: 5px;
      gap: 3px;
      & :hover {
        background-color: #5fc6e8;
      }
    }

    & a {
      padding: 4px 6px;
      display: flex;
      align-items: center;
      color: white;
      & :hover {
        background-color: #5fc6e8;
      }
    }
  }
}
